.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    font-size: 16px;
}
body {
    background-color: #ee5252; /* Light blue color */
}
#message {
    font-size: 24px; /* Increase the font size of the message */
}